<div class="disclaimer" *ngIf="!isNative">
  <h3><strong>Disclaimer</strong></h3>
  <p>{{ currentTranslations.disclaimer }} <a href="https://www.linkedin.com/in/artur-pukhavoi-7b104b302" target="_blank">Artur Pukhavoi.</a></p>
  <br>
  <p>{{ currentTranslations.disclaimerDetails }}</p>
  <br>
  <p>{{currentTranslations.discGit}} <a href="https://github.com/arturPukhavy/PetFinder-FE" target="_blank">GitHub Repository</a></p>
</div>

<div class="pet-finder-container">
  <div class="language-selector">
    <label for="language-select" class="language-label">🌐:</label>
    <select
      id="language-select"
      [(ngModel)]="selectedLanguage"
      (change)="changeLanguage()"
    >
      <option value="en">EN</option>
      <option value="nl">NL</option>
    </select>
  </div>

  <h1 class="title">{{ currentTranslations.title }}</h1>

  <!-- Input Section -->
  <div class="input-section">
    <div class="input-wrapper">
      <input
        id="pet-code-input"
        type="text"
        [(ngModel)]="petCode"
        [placeholder]="currentTranslations.searchPlaceholder"
        (keyup.enter)="fetchPetInfo()"
        minlength="15"
        maxlength="15"
        pattern="^[0-9]*"
        #petCodeInput="ngModel"
      />
      <button (click)="fetchPetInfo()" class="primary-button" [disabled]="petCodeInput.invalid || petCode.length !== 15">
        {{ currentTranslations.searchButton }}
      </button>
    </div>
    <div class="validation-message">
      <small *ngIf="petCodeInput.errors?.['pattern']"> {{currentTranslations.errorNumbers}} </small>
      <small *ngIf="petCodeInput.errors?.['minlength'] && petCodeInput.touched"> {{currentTranslations.errorMin}} </small>
    </div>
  </div>

  <div class="qr-section">
    <button 
      class="secondary-button" 
      [disabled]="!isNative"
      [class.disabled]="!isNative" 
      (click)="isNative && openScanner()">{{ currentTranslations.scanButton }}
    </button>
    <div *ngIf="scannedCode" class="scanned-code-section">
      <h2>Scanned Pet Code: <span>{{ scannedCode }}</span></h2>
      <button (click)="fetchPetInfo()" class="primary-button">{{ currentTranslations.searchButton }}</button>
    </div>
  </div>

  <ngx-spinner
    bdColor="rgba(51, 51, 51, 0.8)"
    size="large"
    color="#fff"
    type="ball-scale-multiple">
    <p>{{currentTranslations.spinner}}...</p>
  </ngx-spinner>

  <!-- Pet Info Section -->
  <div class="pet-info" *ngIf="petInfo">
    <h2>{{ getPetInfoTitle() }}</h2>
    <table class="pet-info-table">
      <tbody>
        <tr>
          <td>{{ currentTranslations.idNumber }}</td>
          <td>{{ petInfo.zoekresultaat.Identificatienummer }}</td>
        </tr>
        <tr>
          <td>{{ currentTranslations.name }}</td>
          <td>{{ petInfo.zoekresultaat.Diernaam }}</td>
        </tr>
        <tr>
          <td>{{ currentTranslations.breed }}</td>
          <td>{{ petInfo.zoekresultaat.Diersoort }}</td>
        </tr>
        <tr>
          <td>{{ currentTranslations.passportRegistered }}</td>
          <td>{{ petInfo.zoekresultaat.Paspoort_geregistreerd }}</td>
        </tr>
        <tr>
          <td>{{ currentTranslations.city }}</td>
          <td>{{ petInfo.zoekresultaat.Woonplaats_houder }}</td>
        </tr>
        <tr>
          <td>{{ currentTranslations.country }}</td>
          <td>{{ petInfo.zoekresultaat.Land_houder }}</td>
        </tr>
        <tr>
          <td>{{ currentTranslations.phoneNL }}</td>
          <td>{{ petInfo.zoekresultaat.Telefoon_Nederland }}</td>
        </tr>
        <tr>
          <td>{{ currentTranslations.phoneOutside }}</td>
          <td>{{ petInfo.zoekresultaat.Telefoon_buitenland }}</td>
        </tr>
        <tr>
          <td>{{ currentTranslations.missing }}</td>
          <td>{{ petInfo.zoekresultaat.Vermist }}</td>
        </tr>
        <tr>
          <td>{{ currentTranslations.dead }}</td>
          <td>{{ petInfo.zoekresultaat.Overleden }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="message" class="message">
    <p>{{ message || currentTranslations.errorMessage }}</p>
  </div>
</div>